.nav-sprite-v1 .nav-sprite, .nav-sprite-v1 .nav-icon {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468670774_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
  }
  .nav-spinner {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/snake._CB485935611_.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }
  .nav-timeline-icon, .nav-access-image, .nav-timeline-prime-icon {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/timeline_sprite_1x._CB485945973_.png);
    background-repeat: no-repeat;
  }


  #cm_cr_dpwidget .a-size-micro {
    font-size: 9px;
  } 
  #cm_cr_dpwidget .c7yTopDownDashedStrike {
    border-top: 1px dashed #A9A9A9;
    border-bottom: 1px dashed #A9A9A9;
  }
  #cm_cr_dpwidget .c7yBadgeAUI {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 2px;
    white-space: nowrap;
  }

.nav-sprite-v1 .nav-sprite, .nav-sprite-v1 .nav-icon {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468670774_.png);
  background-position: 0 1000px;
  background-repeat: repeat-x;
}
.nav-spinner {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/snake._CB485935611_.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
.nav-timeline-icon, .nav-access-image, .nav-timeline-prime-icon {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/timeline_sprite_1x._CB485945973_.png);
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #shipToAUIButton .a-dropdown-prompt { display:inline-block; width:120px; overflow:hidden; text-overflow:ellipsis;  }
}
#rhf .cBoxTL, #rhf .cBoxTR, #rhf .cBoxBL, #rhf .cBoxBR { background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/common/sprites/sprite-site-wide-2._CB485917179_.png); }
.swSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/common/sprites/sprite-site-wide._CB485931656_.png); background-repeat: no-repeat; }
.swSprite span { position: absolute; left: -9999px; }
.sims-popunder{background:url(https://images-na.ssl-images-amazon.com/images/G/01/nav2/images/sims_atc_205px._V376380388_.png) no-repeat scroll left bottom transparent;min-height:256px}
.rhfWrapper .shoveler .back-button a .bg-image, .rhfWrapper .shoveler .next-button a .bg-image, .rhfWrapper .shoveler div.disabled-button { background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/common/sprites/sprite-site-wide._CB485931656_.png); }
.rhfWrapper .shoveler .next-button a .bg-image {  background-position: -60px -80px;background-color: white;}
.rhfWrapper .shoveler .back-button a .bg-image { background-position: -30px -80px; background-color: white;}
.auiTestSprite { background: url(https://images-na.ssl-images-amazon.com/images/G/01/nav2/images/sprite-carousel-btns-stars2._CB485924235_.png) no-repeat scroll 0 0 transparent; }
  .simsWrapper .shoveler ul { height: 218px; }
  .apparel .simsWrapper .shoveler ul { height: 318px;}
#twister .swatches li.swatchSelect .arrow { background:url(https://images-na.ssl-images-amazon.com/images/G/01/twister/images/down-arrow-shadow-v2._CB485946503_.png) no-repeat center top; }
#twister .swatches li.swatchUnavailableHover .xoverlay  { background: url(https://images-na.ssl-images-amazon.com/images/G/01/twister/images/swatches._CB485936864_.png) repeat -54px -64px; }
#twisterPopover .twisterPopoverArrow { background:url(https://images-na.ssl-images-amazon.com/images/G/01/gateway/csw/tri-down._CB485946742_.png)no-repeat 11px 0; }
#wishlist-dropdown-content .s_plus { background:url(https://images-na.ssl-images-amazon.com/images/G/01/common/sprites/sprite-dp-2._CB451264863_.png) no-repeat scroll -140px -540px transparent; }
#fg_sizing_tabs { background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-border._CB485935868_.gif) repeat-x scroll left bottom; }
#fg_sizing_tabs li { background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-unselected-left._CB485934077_.gif) no-repeat scroll left top; }
#fg_sizing_tabs li div { background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-unselected-right._CB485935823_.gif) no-repeat scroll right top; }
#fg_sizing_tabs li div.last { background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-unselected-right-last._CB485935037_.gif); }
#fg_sizing_tabs li.fg_highlight { background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-selected-left._CB485934349_.gif); }
#fg_sizing_tabs li.fg_highlight div { background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-selected-right._CB485946836_.gif); }
#fg_sizing_tabs li.fg_highlight div.last { background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tabs/tab-selected-right-last._CB485934196_.gif); }
#detailpage-click2call .c2c-phone-icon { background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/electronics/click2call/click2call-sprite._CB485946145_.png); background-repeat:no-repeat; background-position: 0px 0px; width:57px; height:57px; margin-right:6px; }
.cmtySprite { background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/common/sprites/sprite-communities._CB485930723_.png); background-repeat: no-repeat; }
    .tagEdit {
      padding-bottom:4px;
      padding-top:4px;
    }
    .edit-tag {
      width: 155px;
      margin-left: 10px;
    }
    .list-tags {
      white-space: nowrap;
      padding: 1px 0px 0px 0px;
    }
   #suggest-table {
      display: none;
      position: absolute;
      z-index: 2;
      background-color: #fff;
      border: 1px solid #9ac;
    }
    #suggest-table tr td{
      color: #333;
      font: 11px Verdana, sans-serif;
      padding: 2px;
    }
    #suggest-table tr.hovered {
      color: #efedd4;
      background-color: #9ac;
    }
  .see-popular {
    padding: 1.3em 0 0 0;
  }
  .tag-cols {
    border-collapse: collapse;
  }
  .tag-cols td {
    vertical-align: top;
    width: 250px;
    padding-right: 30px;
  }
  .tag-cols .tag-row {
    padding: 0 0 7px 0px;
  }
  .tag-cols .see-all {
    white-space: nowrap;
    padding-top: 5px;
  }
  .tags-piles-feedback {
    display: none;
    color: #000;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0px 0 0 0;
   }
  .tag-cols i {
    display: none;
    cursor: pointer;
    cursor: hand;
    float: left;
    font-style: normal;
    font-size: 0px;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 3px;
  }
  .tag-cols .snake {
    display: block;
    background: url('https://images-na.ssl-images-amazon.com/images/G/01/x-locale/communities/tags/graysnake._CB485934218_.gif');
  }
  #tagContentHolder .tip {
    display: none;
    color: #999;
    font-size: 10px;
    padding-top: 0.25em;
  }
  #tagContentHolder .tip a {
    color: #999 !important;
    text-decoration: none !important;
    border-bottom: solid 1px #CCC;
  }
  .nowrap {
    white-space: nowrap;
  }
  #tgEnableVoting {
    display: none;
  }
  #tagContentHolder .count {
    color: #666;
    font-size: 10px;
    margin-left: 3px;
    white-space: nowrap;
  }
  .count.tgVoting {
    cursor: pointer;
  }
  .tgVoting .tgCounter {
    margin-right: 3px;
    border-bottom: 1px dashed #003399;
    color: #003399;
  }
.c2c-inline-sprite {
    display: -moz-inline-box;
    display: inline-block;
    margin: 0;padding: 0; 
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/electronics/click2call/click2call-sprite._CB485946145_.png);
    background-repeat: no-repeat;
}
.c2c-inline-sprite span {
    position:absolute;
    top:-9999px;
}
.dp-call-me-button {
    width:52px;
    height:22px;
    background-position:0px -57px; 
}


.ap_popover_unsprited .ap_body .ap_left{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_left_17._V1_.png)}.ap_popover_unsprited .ap_body .ap_right{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_right_17._V1_.png)}.ap_popover_unsprited .ap_header .ap_left{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top_left._V1_.png)}.ap_popover_unsprited .ap_header .ap_right{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top_right._V1_.png)}.ap_popover_unsprited .ap_header .ap_middle{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top._V1_.png)}.ap_popover_unsprited .ap_footer .ap_left{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom_left._V1_.png)}.ap_popover_unsprited .ap_footer .ap_right{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom_right._V1_.png)}.ap_popover_unsprited .ap_footer .ap_middle{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom._V1_.png)}.ap_popover_sprited .ap_body .ap_left,.ap_popover_sprited .ap_body .ap_right{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-v._V1_.png)}.ap_popover_sprited .ap_closebutton,.ap_popover_sprited .ap_footer .ap_left,.ap_popover_sprited .ap_footer .ap_middle,.ap_popover_sprited .ap_footer .ap_right,.ap_popover_sprited .ap_header .ap_left,.ap_popover_sprited .ap_header .ap_middle,.ap_popover_sprited .ap_header .ap_right{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-h._V1_.png)}.ap_popover_sprited .ap_body .ap_left-arrow,.ap_popover_sprited .ap_body .ap_right-arrow{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-arrow-v._V1_.png)}.ap_popover{position:absolute;outline:0}.ap_body{height:100%;min-height:36px;position:relative;background-color:#fff;margin:0 17px}.ap_body .ap_left,.ap_popover_sprited .ap_body .ap_left-arrow{width:17px;height:100%;position:absolute;top:0;left:-17px;background-attachment:scroll;background-repeat:repeat-y}.ap_popover_sprited .ap_body .ap_left{background-position:0 top}.ap_body .ap_right,.ap_popover_sprited .ap_body .ap_right-arrow{width:17px;height:100%;position:absolute;top:0;right:-17px;background-attachment:scroll;background-repeat:repeat-y}.ap_popover_sprited .ap_body .ap_right{background-position:-51px top}.ap_footer,.ap_header{position:relative;width:100%}.ap_footer *,.ap_header *{height:26px}.ap_header .ap_left{position:absolute;top:0;left:0;width:34px;background-attachment:scroll;background-repeat:no-repeat}.ap_popover_sprited .ap_header .ap_left{background-position:left -2px}.ap_header .ap_right{width:34px;position:absolute;top:0;right:0;background-attachment:scroll;background-repeat:no-repeat}.ap_popover_sprited .ap_header .ap_right{background-position:right -2px}.ap_header .ap_middle{margin:0 34px;background-attachment:scroll;background-repeat:repeat-x}.ap_popover_sprited .ap_header .ap_middle{background-position:0 -70px}.ap_footer .ap_left{position:absolute;top:0;left:0;width:34px;background-attachment:scroll;background-repeat:no-repeat}.ap_popover_sprited .ap_footer .ap_left{background-position:left -40px}.ap_footer .ap_right{width:34px;position:absolute;top:0;right:0;background-attachment:scroll;background-repeat:no-repeat}.ap_popover_sprited .ap_footer .ap_right{background-position:right -40px}.ap_footer .ap_middle{margin:0 34px;background-attachment:scroll;background-repeat:repeat-x}.ap_popover_sprited .ap_footer .ap_middle{background-position:0 -108px}.ap_popover .ap_titlebar{display:none;position:absolute;left:0;top:0;background-color:#EAF3FE;border-bottom:1px solid #C2DDF2;font-size:14px;font-weight:700;margin:8px 18px;white-space:nowrap;overflow:hidden}.ap_popover .ap_titlebar.multiline{white-space:normal;overflow:visible}.ap_popover .ap_titlebar .ap_title{padding:4px 0;margin-left:10px;overflow:hidden}#ap_overlay,#ap_overlay div{background-color:#3F4C58;width:100%;position:absolute;top:0;left:0;z-index:99}.ap_popover .ap_close{position:absolute;right:18px;top:13px}.ap_popover .ap_close a{padding:5px;text-decoration:none;outline:0}.ap_popover .ap_close .ap_closetext{display:none;margin-right:5px;line-height:1em}.ap_popover .ap_closebutton{display:-moz-inline-box;display:inline-block;width:15px;height:15px;background-repeat:no-repeat;background-position:0 -136px;position:relative;overflow:hidden;vertical-align:top}.ap_popover .ap_closebutton span{position:absolute;top:-9999px}.ap_popover .ap_close img{vertical-align:top}.ap_classic{border-top:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #2F2F1D;border-right:1px solid #2F2F1D;background-color:#EFEDD4;padding:3px}.ap_classic .ap_titlebar{color:#86875D;font-size:12px;padding:0 0 3px 0;line-height:1em}.ap_classic .ap_close{float:right}.ap_classic .ap_content{clear:both;background-color:#fff;border:1px solid #ACA976;padding:8px;font-size:11px}


/* Override for Native DropDown changes */
     #buybox_feature_div #OneClickBox, #buybox #OneClickBox { text-align:center;}
     #buybox_feature_div #oneClickAvailable, #buybox #oneClickAvailable { text-align:center;}
     #defaultChildDropdown_feature_div .a-native-dropdown { display: inline;}
     #defaultChildDropdown_feature_div .a-dropdown-container .a-button-dropdown { display: none !important;}


      div#navSwmHoliday.nav-focus {border: none;margin: 0;}
    

    #altIngressSpan {
        width: 38px;
        height: 50px;
    }


    #topBrand_feature_div {
        display: none;
    }


    /* 
    * Fix for UDP-1061. Average customer reviews has a small extra line on hover 
    * https://omni-grok.amazon.com/xref/src/appgroup/websiteTemplates/retail/SoftlinesDetailPageAssets/udp-intl-lock/src/legacy.css?indexName=WebsiteTemplates#40
    */
    .noUnderline a:hover { 
        text-decoration: none; 
    }


.zg_hrsr_item {list-style : none};


	        .badge-wrapper{margin:5px 0 10px}
	        .badge-wrapper .p13n-best-seller-badge{margin-right:4px;background-color:#E47911!important;font-size:12px;padding-top:2px;padding-bottom:2px;line-height:14px;font-weight:400}
	        .badge-wrapper a.badge-link:hover{text-decoration:none}
	        .badge-wrapper span.cat-name{color:#111;display:inline;margin-left:5px}
	        .badge-wrapper .p13n-best-seller-badge:before{border-bottom-color:#E47911!important}
	        .badge-wrapper .p13n-best-seller-badge:after{border-top-color:#E47911!important}
	        .badge-wrapper .cat-link{color:#0066C0;font-size:12px}
	        .badge-wrapper a:hover .cat-link{color:#E47911;text-decoration:underline}
	        .badge-wrapper .rank-number{font-weight:700}
            
            
            .fit-recommendations-quote {
                cursor: default;
            }
            .fit-recommendations-histogram-meter-quotes {
                cursor: default;
            }
            .fit-recommendations-popover-main-content {
                padding-right: 16px;
                top: 4px;
            }
            
            
            .registry-button-width {
                width:-webkit-fill-available;
                margin-left: ;
                margin-right: ;
            }
        
        
            #tell-a-friend .swf-social-site {
                outline: none;
            }
        
        
#productDescription {
    color: #333333;
    word-wrap: break-word;
    font-size: small;
    line-height: initial;
    margin: 0.5em 0px 0em 25px;
}
#productDescription_feature_div > h2.default {
    color: #CC6600;
    font-size: medium;
    margin: 0 0 0.25em;
}
#productDescription_feature_div > h2.books {
    color:#333 !important;
    font-size:21px !important;
    line-height: 1.3;
    padding-bottom: 4px;
    font-weight: normal;
    margin: 0px;
}
#productDescription_feature_div > h2.softlines {
    color:#333 !important; 
    font-size:21px !important;
    line-height: 1.3;
    padding-bottom: 4px;
    font-weight: bold;
    margin: 0px;
}
#productDescription > p, #productDescription > div, #productDescription > table {
    margin: 0 0 1em 0;
}
#productDescription p {
    margin: 0em 0 1em 1em;
}
#productDescription h3 {
    font-weight: normal;
    color: #333333;
    font-size: 1.23em;
    clear: left;
    margin: 0.75em 0px 0.375em -15px;
}
#productDescription table {
    border-collapse: inherit !important;
    margin-bottom: 0;
}
#productDescription table img {
    max-width: inherit !important;
}
#productDescription table td {
    font-size: small;
    vertical-align: inherit !important;
}
#productDescription ul li {
    margin: 0 0 0 20px;
}
#productDescription ul li ul {
    list-style-type: disc !important;
    margin-left: 20px !important;
}
#productDescription ul ul li {
    list-style-type: disc !important;
    margin-left: 20px !important;
}
#productDescription > ul ul li {
    list-style-type: disc !important;
}   
#productDescription ul li ul li {
    margin: 0 0 0 20px;
}
#productDescription .aplus p {
    margin: 0 0 1em 0;
}
#productDescription small {
    font-size: smaller;
}
#productDescription.prodDescWidth {
	max-width: 1000px
}

            
#productDescription h3 {
margin: 0.75em 0px 0.375em -1px;
}
            
            
                    /* 
                    * Fix for UDP-1061. Average customer reviews has a small extra line on hover 
                    * https://omni-grok.amazon.com/xref/src/appgroup/websiteTemplates/retail/SoftlinesDetailPageAssets/udp-intl-lock/src/legacy.css?indexName=WebsiteTemplates#40
                    */
                    .noUnderline a:hover { 
                        text-decoration: none; 
                    }
                
                
                #csr-hcb-wrapper {
                display: none;
                }
                .bia-item .bia-action-button {
                display: inline-block;
                height: 22px;
                margin-top: 3px;
                padding: 0px;
                overflow: hidden;
                text-align: center;
                vertical-align: middle;
                text-decoration: none;
                color: #111;
                font-family: Arial,sans-serif;
                font-size: 11px;
                font-style: normal;
                font-weight: normal;
                line-height: 19px;
                cursor: pointer;
                outline: 0;
                border: 1px solid;
                -webkit-border-radius: 3px 3px 3px 3px;
                -moz-border-radius: 3px 3px 3px 3px;
                border-radius: 3px 3px 3px 3px;
                border-radius: 0\9;
                border-color: #bcc1c8 #bababa #adb2bb;
                background: #eff0f3;
                background: -moz-linear-gradient(top, #f7f8fa, #e7e9ec);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f8fa), color-stop(100%, #e7e9ec));
                background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
                background: -o-linear-gradient(top, #f7f8fa, #e7e9ec);
                background: -ms-linear-gradient(top, #f7f8fa, #e7e9ec);
                background: linear-gradient(top, #f7f8fa, #e7e9ec);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f8fa', endColorstr='#e7e9ec',GradientType=0);
                *zoom: 1;
                -webkit-box-shadow: inset 0 1px 0 0 #fff;
                -moz-box-shadow: inset 0 1px 0 0 #fff;
                box-shadow: inset 0 1px 0 0 #fff;
                box-sizing: border-box;
                }
                /*related to defect found in YSH page in www.amazon.fr
                font family was overriden causing button overflow on
                that particular page.
                Related SIM: https://issues.amazon.com/issues/P13N-CONSUMABLES-3104
                */
                #bia-hcb-widget .a-button-text {
                    font-family: Arial,sans-serif !important;
                }
                /*This class was added to remove star ratings from
                Shared Component's templates. Star ratings are
                currently not configurable. This will work as an
                immediate solution.
                TODO: Work with shared components to make star
                ratings configurable in their Shared View Templates
                */
                #bia_content .a-icon-row {
                    display: none;
                }
                #bia-hcb-widget .a-icon-row {
                    display: none;
                }
                #bia_content {
                    width: 266px;
                }
                .nav-flyout-sidePanel {
                    width: 266px !important;
                }
                .aui-atc-button {
                    margin-top: 3px;
                    overflow: hidden;
                    color: #111;
                    font-family: Arial,sans-serif;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: normal;
                }
                .bia-item .bia-action-button:hover {
                border-color: #aeb4bd #adadad #9fa5af;
                background: #e0e3e8;
                background: -moz-linear-gradient(top, #e7eaf0, #d9dce1);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7eaf0), color-stop(100%, #d9dce1));
                background: -webkit-linear-gradient(top, #e7eaf0, #d9dce1);
                background: -o-linear-gradient(top, #e7eaf0, #d9dce1);
                background: -ms-linear-gradient(top, #e7eaf0, #d9dce1);
                background: linear-gradient(top, #e7eaf0, #d9dce1);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7eaf0', endColorstr='#d9dce1',GradientType=0);
                *zoom: 1;
                -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.6) inset;
                -moz-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.6) inset;
                box-shadow: 0 1px 3px rgba(255, 255, 255, 0.6) inset;
                }
                .bia-item .bia-action-button:active {
                background-color: #dcdfe3;
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
                }
                .bia-item .bia-action-button-disabled {
                background: #f7f8fa;
                color: #b7b7b7;
                border-color: #e0e0e0;
                box-shadow: none;
                cursor: default;
                }
                .bia-item .bia-action-button-disabled:hover {
                background: #f7f8fa;
                color: #b7b7b7;
                border-color: #e0e0e0;
                box-shadow: none;
                cursor: default;
                }
                .bia-action-button-inner {
                border-bottom-color: #111111;
                border-bottom-style: none;
                border-bottom-width: 0px;
                border-image-outset: 0px;
                border-image-repeat: stretch;
                border-image-slice: 100%;
                border-image-width: 1;
                border-left-color: #111111;
                border-left-style: none;
                border-left-width: 0px;
                border-right-color: #111111;
                border-right-style: none;
                border-right-width: 0px;
                border-top-color: #111111;
                border-top-style: none;
                border-top-width: 0px;
                box-sizing: border-box;
                display: block;
                height: 20px;
                line-height: 19px;
                overflow: hidden;
                position: relative;
                padding: 0;
                vertical-align: baseline;
                }
                .bia-action-inner {
                border: 0;
                display: inline;
                font-size: 11px;
                height: auto;
                line-height: 19px;
                padding: 0px 4px 0px 4px;
                text-align: center;
                width: auto;
                white-space: nowrap;
                }
                .csr-content {
                font-family: Arial, Verdana, Helvetica, sans-serif;
                width: 220px;
                line-height: 19px;
                }
                .bia-header {
                font-size: 16px;
                color: #E47911;
                padding-bottom: 10px;
                }
                .bia-header-widget {
                white-space: nowrap;
                overflow: hidden;
                }
                .b2b-nav-header {
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 18px;
                }
                .bia-space-right {
                padding-right: 18px;
                white-space: normal;
                float: left;
                }
                .b2b-see-more-link a {
                display: inline;
                float: left;
                margin-top: 3px;
                margin-left: 3px;
                }
                .hcb-see-more-link a {
                color: #333;
                font-size: 13px;
                text-decoration: none;
                font-family: Arial, Verdana, Helvetica, sans-serif;
                }
                .bia-hcb-body {
                overflow: hidden;
                }
                .bia-item {
                width: 220px;
                display: inline-block;
                margin-bottom: 20px;
                }
                .bia-item-image {
                float: left;
                margin-right: 15px;
                width: 75px;
                height: 75px;
                }
                .bia-image {
                max-height: 75px;
                max-width: 75px;
                border: 0;
                }
                .bia-item-data {
                float: left;
                width: 130px;
                }
                .bia-title {
                line-height: 19px;
                font-size: 13px;
                max-height: 60px;
                overflow: hidden;
                }
                .bia-link:link {
                text-decoration: none;
                font-family: Arial, Verdana, Helvetica, sans-serif;
                }
                .bia-link:visited {
                text-decoration: none;
                color: #004B91;
                }
                .bia-price-nav {
                margin-top: -4px;
                color: #800;
                font-size: 12px;
                vertical-align: bottom;
                }
                .bia-price-yorr {
                    margin-top: -8px;
                    color: #800;
                    font-size: 12px;
                    vertical-align: bottom;
                }
                .bia-price {
                color: #800;
                font-size: 12px;
                vertical-align: bottom;
                }
                .bia-vpc-t1{
                color: #008a00;
                font-size: 12px;
                font-weight: bold;
                }
                .bia-vpc-t2{
                color: #008a00;
                font-size: 12px;
                }
                .bia-vpc-t3{
                font-size: 12px;
                line-height: 20px;
                }
                .bia-vpc-t3-badge{
                color: #ffffff;
                background-color: #e47911;
                font-weight: normal;
                }
                .bia-vpc-t3-badge::before{
                border-bottom: 10px solid #e47911;
                }
                .bia-vpc-t3-badge:after{
                border-top: 10px solid #e47911;
                }
                .bia-ppu {
                color: #800;
                font-size: 10px;
                }
                .bia-prime-badge {
                border: 0;
                vertical-align: middle;
                }
                .bia-cart-action {
                display: none;
                }
                .bia-cart-msg {
                display: block;
                font-family: Arial, Verdana, Helvetica, sans-serif;
                line-height: 19px;
                }
                .bia-cart-icon {
                background-image:
                    url("https://images-na.ssl-images-amazon.com/images/G/01/Recommendations/MissionExperience/BIA/bia-atc-confirm-icon._CB485946458_.png");
                display: inline-block;
                width: 14px;
                height: 13px;
                top: 3px;
                line-height: 19px;
                position: relative;
                vertical-align: top;
                }
                .bia-cart-success {
                color: #090!important;
                display: inline-block;
                margin: 0;
                font-size: 13px;
                font-style: normal;
                font-weight: bold;
                font-family: Arial, Verdana, Helvetica, sans-serif;
                }
                .bia-cart-title {
                margin-bottom: 3px;
                }
                .bia-cart-form {
                margin: 0px;
                }
                .bia-inline-cart-form {
                margin: 0px;
                }
                .bia-cart-submit {
                cursor: inherit;
                left: 0;
                top: 0;
                line-height: 19px;
                height: 100%;
                width: 100%;
                padding: 1px 6px 1px 6px;
                position: absolute;
                opacity: 0.01;
                overflow: visible;
                filter: alpha(opacity=1);
                z-index: 20;
                }
                .bia-link-caret {
                color: #e47911;
                }
                
                
                #nav-prime-tooltip{
                padding: 0 20px 2px 20px;
                background-color: white;
                font-family: arial,sans-serif;
                }
                .nav-npt-text-title{
                font-family: arial,sans-serif;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                color: #E47923;
                }
                .nav-npt-text-detail, a.nav-npt-a{
                font-family: arial,sans-serif;
                font-size: 12px;
                line-height: 14px;
                color: #333333;
                margin: 2px 0px;
                }
                a.nav-npt-a {
                text-decoration: underline;
                }
      
      
  #icp-touch-link-language { display: none; }


  #icp-touch-link-cop { display: none; }


#icp-touch-link-country { display: none; }
