html {
    background: #f4f4f4;
}

.async-hide body {
    opacity: 0 !important
}

.top-bar-wrap {
    height: 50px; 
    display: block; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: auto 50px; 
    
}
.top-label img{
    margin-top: -1px;
}
#search-suggestion{
    display: none;
}
#search-autocomplete{
    display: none;
}
.login-ajax-captcha{
    display:none;
}
#error_captcha{ 
    margin-bottom: 15px;
}
.input-wrap{
    margin-top: 5px;
}
/* 3692 */
#inventory-status-text{
    display: none;
}
#flash-sale-price-label{
    display: none;
}
.out-of-stock-msg{
    color: red;
    display: none;
}
.discontinued-msg{
    color: red;
    display: none;
}
.add-cart-action{
    display: block;
}
#deal-max{
    display: none;
}
.installment-without-card{
    display: none;
}
#onlyShipToV2{
    display: none;
}

#deliveryCalc{
   display: none;
}
#deliveryCalcV2{
    display: none;
}
#seller-list{
    margin: 0 0 16px; display:;
}
.social-wrapper{
    text-align: center;
}
.fb-like{
    margin-bottom:10px;
}
.Red-230{
color: rgb(230, 0, 0);
}
.Red{
    color: red;
}
.Green{
    color: rgb(0, 138, 0);
}
.Smoke{
    color: rgb(170, 178, 186);
}
.Blue{
    color:rgb(0, 102, 204);
}
.Gray{
    color:rgb(102, 102, 102);"
}
.BG-Trans{
    background-color: transparent;
}
.footer-nav{
    margin-right: 15px;
    width: 262px;
}