@media only screen and (min-width: 1200px) {
    #products #amazon-basics #about{
        display: flex;
        flex-direction: column;
      }
}

@media only screen and (max-width: 1025px) {
    #amazon-basics {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .thumbnail-first {
        margin-left: 0 !important;
    }

}

@media only screen and (max-width:900px) {
   #nav-holiday{
    width: 60%;
    height: auto;
    line-height: 20px;
}
    #nav-main{
            visibility: hidden;
        }
    }

    @media only screen and (max-width: 768px) {
       
    }

    @media only screen and (max-width: 640px) {}

    @media only screen and (max-width: 480px) {}