@media only screen and (min-width:410px) {
    .BannerCarousel-Picture {
        width: 387px;
    }

}

@media only screen and (min-width:767px) {
    .BannerCarousel-Picture {
        width: 744px;
    }

}

@media only screen and (min-width:1023px) {
    .BannerCarousel-Picture {
        width: 1000px;
    }
}