    @media (max-width:768px) {
        .header-wrap,
        .product-wrap .product-list .product-box-option,
        .breadcrumb-wrap,
        .sidebar-wrap,
        .des {
            display: none !important;
        }
        .result-wrap {
            margin-top: 56px;
        }
        .product-wrap {
            width: 100% !important;
        }
        html {
            line-height: 1.15 !important;
            text-size-adjust: 100% !important;
        }
        .header-mobile-wrap {
            display: flex !important;
        }
        .ProductListFilter {
            display: flex !important;
        }
    }
    
    .des {
        margin 0px;
        padding: 0px;
        border: 0px;
    }
    
    .header-mobile-wrap {
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: rgb(27, 168, 255);
        display: none;
        -webkit-box-align: center;
        align-items: center;
        height: 56px;
        padding: 0px 8px;
    }
    
    .header-mobile-wrap .btn-back {
        min-width: 40px;
        height: 40px;
        color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        background: 0px center;
        outline: 0px;
    }
    
    .boPepD {
        min-width: 40px;
        height: 40px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        background: 0px center;
        margin: 0px 8px 0px 0px;
        outline: 0px;
    }
    
    .boPepD span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        margin: 2px 0px;
    }
    
    .m-search {
        display: flex;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        align-items: center;
        line-height: 36px;
        background-color: rgb(255, 255, 255);
        padding: 0px 12px;
        border-radius: 3px;
    }
    
    .m-search svg {
        color: rgb(120, 120, 120);
    }
    
    .m-search input {
        height: 36px;
        line-height: 36px;
        width: 100%;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        margin: 0px 0px 0px 8px;
        outline: 0px;
        padding: 0px;
    }
    
    .ProductListFilter {
        display: none;
        height: 48px;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
    }
    
    .Sort {
        display: flex;
        font-size: 13px;
        line-height: 20px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        flex-grow: 1;
        padding: 0px 16px;
    }
    
    .Sort .label {
        font-weight: 500;
        margin: 0px 4px;
    }
    
    .Sort .icon {
        display: inline-block;
        width: 15px;
        text-align: center;
        position: relative;
        top: 3px;
        transform: rotate(90deg);
    }
    
    .Filter {
        display: flex;
        position: relative;
        padding: 0px 14px;
    }
    
    .Filter::before {
        content: "";
        height: 24px;
        width: 1px;
        background-color: rgb(238, 238, 238);
        position: absolute;
        left: 0px;
        top: -2px;
    }
    
    .Filter div {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    
    svg[Attributes Style] {
        width: 20;
        height: 20;
    }
    
    svg:not(:root) {
        overflow: hidden;
    }
    
    g[Attributes Style] {
        fill: none;
        fill-rule: evenodd;
    }
    
    .Filter .text {
        font-size: 13px;
        line-height: 20px;
        margin: 0px 0px 0px 10px;
    }
    
    .Filter-wrap {
        background-color: rgb(255, 255, 255);
        z-index: 2;
        left: 0px;
        right: 0px;
        border-bottom: 2px solid rgb(242, 242, 242);
    }