.nav-sprite-v3 .nav-sprite {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/global-sprite-text-locale-1x-mobile._CB455065984_.png);
  background-repeat: no-repeat;
}

.nav-spinner {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/snake._CB485935611_.gif);
}

#gw-mobile-points-balance-bar {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0;
}

#gw-mobile-points-balance-bar .a-box-inner {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.a2hs-ingress-container,
a[href^="#nav-hbm-a2hs-trigger"] {
  display: none !important
}

.a2hs-ingress-container.a2hs-ingress-visible,
a[href^="#nav-hbm-a2hs-trigger"].a2hs-ingress-visible {
  display: block !important
}

@media all and (display-mode:standalone) {

  #chromeless-view-progress-bar,
  #chromeless-view-progress-bar::after {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px
  }

  @keyframes pbAnimation {
    0% {
      right: 90%
    }

    100% {
      right: 10%
    }
  }

  #chromeless-view-progress-bar {
    background: rgba(255, 255, 255, .1);
    z-index: 9999999
  }

  #chromeless-view-progress-bar::after {
    content: '';
    background: #fcbb6a;
    animation: pbAnimation 10s forwards
  }
}

#qtips {
  position: absolute;
  overflow: initial
}

.qtips-background {
  position: fixed;
  z-index: 90000;
  padding: 10px;
  opacity: 1;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(17, 17, 17, .25);
  -moz-box-shadow: 0 2px 5px 0 rgba(17, 17, 17, .25);
  box-shadow: 0 2px 5px 0 rgba(17, 17, 17, .25);
  -o-box-shadow: 0 2px 5px 0 rgba(17, 17, 17, .25);
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.qtips-background:after {
  position: absolute;
  display: block;
  width: 0;
  content: '';
  border-style: solid;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.qtips-arrow-topleft:after,
.qtips-arrow-topmiddle:after,
.qtips-arrow-topright:after {
  top: -8px;
  border-width: 0 8px 9px
}

.qtips-arrow-bottomleft:after,
.qtips-arrow-topleft:after {
  left: 14px
}

.qtips-arrow-bottomright:after,
.qtips-arrow-topright:after {
  right: 14px
}

.qtips-arrow-bottomleft:after,
.qtips-arrow-bottommiddle:after,
.qtips-arrow-bottomright:after {
  bottom: -8px;
  border-width: 9px 8px 0;
  -webkit-box-shadow: 0 0 0 -2px rgba(17, 17, 17, .25);
  -moz-box-shadow: 0 0 0 -2px rgba(17, 17, 17, .25);
  box-shadow: 0 0 0 -2px rgba(17, 17, 17, .25);
  -o-box-shadow: 0 0 0 -2px rgba(17, 17, 17, .25)
}

.qtips-arrow-left:after {
  left: -12px;
  border-width: 0 8px 9px;
  transform: rotate(270deg)
}

.qtips-arrow-right:after {
  border-width: 0 8px 9px;
  transform: rotate(90deg)
}

.qtips-textholder {
  width: 100%;
  height: 100%
}

.slate-image-video-loader {
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  opacity: 0.7;
}

.slate-image-play-button {
  margin: auto;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent transparent #ada6a6;
}

#saBottomSheet-bottom-sheet {
  -webkit-transition: height 2s;
  transition: height 2s;
  overflow-y: auto;
  height: 100%
}

#nav-mobile-airstream-stripe img {
  max-width: 100%;
}

.nav-searchbar-wrapper {
  display: flex;
}

.gwm-SignInCard-secondary {
  border-top: none;
}

.gwm-SignInCard-button {
  background: #faa41a;
  height: 50px;
  width: 100%;
  font-weight: 100;
  border: none;
  border-radius: 2px;
}

.gwm-SignInCard-withoutSecondary {
  margin-bottom: 15px;
}