/*BASIC FORMAT*/
html{
    font-size: 100%;
    display: block;
    font-family: "Amazon Ember",Arial,sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    font-size: 13px;
    line-height: 19px;
    color: #111;
}
a{
    text-decoration: none;
}
/*HEADER FORMAT */
.nav-bar{
    background-color: #232F3E;
    position: relative;
    top: 0;
    left: 0;
    z-index: 198;
    font-size: 12px;
    font-family: inherit;
    line-height: 1em;
    display: block;
    zoom:1;
    min-width: 1000px;
    height: 100px;
}
/* *** */
.nav-belt{
    position: relative;
    width: 100%;
    font-size: 14px;
}
/* *** */
/*FORMAT NAV-LEFT*/
.nav-left{
    position: relative;
    float: left;
    width: auto;
    height: 60px;
    display: inline-block;
}
/*button extend*/
#nav-hamburger-menu{
    float: left;
    width: 38px;
    height: 40px;
    font-size: 23px;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #666;
    padding: 10px 8px 10px 8px;
    margin: 10px 7px 10px 7px;

}
/*nav logo*/
#nav-logo{
    position: relative;
    float: left;
    line-height: 0;
    height: 100%;
    margin-top: 5px;
}
#nav-logo img{
    height: 50px;
    width: 161px;
}
/* *** */
/*FORMAT NAV-RIGHT*/
.nav-right{
    position: relative;
    float: right;
    width: 372px;
    height: 60px;
    display: inline-block;
}
.nav-tool{
    float: left;
    margin-top: 2px;
    margin: 0 1px;
    padding: 0 0 0 9px;
    line-height: 44px;
 }
.nav-tool .lang{
    padding-right: 9px;
    height: 50px;

}
